body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #888888;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
button {
  border: none;
}
a { color: #222222; text-decoration: none; }
img { max-width: 100%;}
.block-home {
  padding: 100px 0;
  margin: 0;
}
.block-home .block-title {
  text-align: center;
  margin-bottom: 50px;
  line-height: 20px;
}
.block-home .block-title strong{
  font-weight: 500;
  font-size: 3.6rem;
}
.block-home .block-title p {
  font-size: 0.8rem; margin: 10px 0px 0px 0px;
}
